/* ----------------------------------------------------------------------------------------
* Author        : Jonathan J. Jolivette
* Project 0     : General Assembly | Personal/Brand Portfolio Site
* Created       : Feb. 8 2019
* Last Modified : Feb 19 2019
* ---------------------------------------------------------------------------------------- */
/*ALL MEDIA QUERIES FOR RESPONSIVENSS OF SITE FOUND HERE*/

/* Medium Layout | 992-1200 */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout | 768-991*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .caption h1 {
        font-size: 35px;
    }
    .navbar-nav li a {
        padding: 15px 10px;
        letter-spacing: 1px;
    }

    .me-image {
        margin-bottom: 30px;
    }
    .resume-area {
        margin-top: 20px;
    }
    .skills {
        margin-top: 40px;
    }/


/* Mobile Layout | 481 - 767*/

@media only screen and (max-width: 767px) {
    body, p {
        line-height: 28px;
        letter-spacing: 1px;
        font-size: 15px;
    }
    h4 {
        letter-spacing: 1.2px;
    }
    .section {
        padding: 50px 0px;
    }
    .section-title {
        margin-bottom: 50px;
    }
    .section-title h2 {
        line-height: 30px;
        letter-spacing: 3px;
    }
    .caption h1 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }
    .caption p {
        line-height: 28px;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .caption .btn, .btn, input[type='submit'] {
        letter-spacing: 1px;
        margin-bottom: 0px;
        padding: 8px 20px;
    }


    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-toggle {
        margin-right: 0px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        background: #555;
    }
    .navbar {
        min-height: 0px;
    }
    .mainmenu .navbar-nav {
        margin: 0;
    }
    .mainmenu .navbar-nav li {
        float: none;
        display: block;
    }
    .mainmenu .navbar-nav li a {
        letter-spacing: 1px;
        padding: 11px 15px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-toggle {}
    a.about-button {
        margin-top: 0;
    }


    .me-image {
        margin-bottom: 30px;
    }
    .resume-area {
        margin-top: 20px;
    }
    .skills {
        margin-top: 40px;
    }


    .about-text h2,
    .single-service h2,
    .testimonial-item h2,
    .follow-me h2 {
        font-size: 22px;
    }

    .filters li {
        margin: 0px 10px;
        letter-spacing: 1px;
    }

    .single-testimonial {
        padding: 0 30px;
    }

    .testimonial-item i.fa {
        margin-top: 20px;
    }
    .section-title h2 {
        font-size: 23px;
    }

}


/* Small Mobile Layout | 0-480*/

@media only screen and (max-width: 480px) {

}
